body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: #dc7900;
  text-transform: uppercase;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}

header h1 {
  text-align: center;
}

.firstScreen {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.firstScreen .firstScreen__poster {
  width: 100%;
  max-width: 800px;
}
.firstScreen .firstScreen__contentCurse {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.firstScreen .firstScreen__contentCurse ul {
  margin: 0;
  text-align: justify;
  list-style: none;
}
.firstScreen .firstScreen__contentCurse ul li {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.firstScreen .firstScreen__contentCurse ul li i {
  font-style: normal;
  font-size: 1.2rem;
}
.firstScreen .firstScreen__contentCurse ul li p {
  font-size: 1.1rem;
  font-weight: 500;
}
.firstScreen .firstScreen__bonus {
  color: #e12d00;
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
}
.firstScreen .firstScreen__bonus:nth-of-type(1) {
  color: #c08200;
  font-style: italic;
  text-decoration: underline;
}
.firstScreen .firstScreen__CTA {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.firstScreen .firstScreen__CTA:hover i {
  opacity: 1;
  font-size: 2rem;
}
.firstScreen .firstScreen__CTA i {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.firstScreen .firstScreen__CTA a {
  background-color: #dc7900;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}
@media (hover: hover) and (pointer: fine) {
  .firstScreen .firstScreen__CTA a:hover {
    scale: 1.1;
    font-weight: bolder;
  }
}
.firstScreen .firstScreen__CTA a:active {
  scale: 1.01;
}

.guarantee {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.guarantee video {
  width: 20%;
  border-radius: 10px;
  min-width: 250px;
}
.guarantee div {
  box-sizing: border-box;
  width: 60%;
  margin: 10px;
  padding: 10px;
}
.guarantee div .guarantee__span {
  color: #c08200;
  font-style: italic;
  text-decoration: underline;
}
.guarantee div p {
  text-align: justify;
}

.collab {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.collab h2 {
  color: #dc7900;
}
.collab .collab__content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.collab .collab__content .collab__description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.collab .collab__content .collab__poster {
  width: 60%;
}
.collab .collab__partners {
  width: 100%;
}

.additionalInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.additionalInfo .additionalInfo__info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.additionalInfo .additionalInfo__info div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.additionalInfo .additionalInfo__info div h2 {
  color: #c08200;
}
.additionalInfo .additionalInfo__info div p {
  text-align: justify;
}
.additionalInfo .additionalInfo__info div img {
  width: 70%;
}
.additionalInfo .additionalInfo__info:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
}

.qualification h2 {
  text-align: center;
  color: #dc7900;
  font-style: italic;
  text-decoration: underline;
}
.qualification img {
  width: 100%;
  border-radius: 10px;
  max-width: 800px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
.product h2 {
  color: #dc7900;
}
.product img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.lastCall {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: #fffee1;
  text-align: center;
  border-radius: 10px;
}
.lastCall h2 {
  color: #c08200;
}
.lastCall video {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}
.lastCall h3 {
  color: #dc7900;
  font-size: 30px;
}
.lastCall img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.lastCall p {
  color: #0f0f0f;
}
.lastCall .lastCall__CTA {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.lastCall .lastCall__CTA:hover i {
  opacity: 1;
  font-size: 2rem;
}
.lastCall .lastCall__CTA i {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.lastCall .lastCall__CTA a {
  background-color: #dc7900;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}
@media (hover: hover) and (pointer: fine) {
  .lastCall .lastCall__CTA a:hover {
    scale: 1.1;
    font-weight: bolder;
  }
}
.lastCall .lastCall__CTA a:active {
  scale: 1.01;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 10px;
  text-align: justify;
  color: #494949;
  font-size: 0.8rem;
}

@media screen and (max-width: 48rem) {
  .guarantee {
    flex-direction: column;
  }
  .collab .collab__content {
    flex-direction: column-reverse;
  }
  .additionalInfo .additionalInfo__info {
    flex-direction: column-reverse;
  }
  .additionalInfo .additionalInfo__info:nth-of-type(2) {
    flex-direction: column-reverse;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f;
    color: #fff;
  }
  footer {
    color: #fff;
  }
}/*# sourceMappingURL=main.css.map */